@charset "UTF-8";
/* CSS Document */

/* top画像
---------------------------*/
#top_contents {
	background: #FFF;
}

#mv {
	display: table-cell; /*上下中央*/
	width: 1040px;
	height: 330px;
	text-align: center; /*左右中央*/
	vertical-align: middle; /*上下中央*/
}

#mv img {
	width:auto;
	height:auto;
	max-width:1040px;
	max-height:330px;
}
